@media (min-width : 480px){
    body{
    background-color: rgb(68, 80, 94);
    }
    }
    @media (min-width : 780px){
        body{
        background-color: rgba(104, 168, 194, 0.959);
        }
        }

        header{
        background-color: rgb(40, 212, 218);
        height: 100%;
    }
    .relógio{
        position: absolute;
        top: 25%;
        left: 80%;
        transform: translate(-50%,-50%);
        width: 200px;
        height: 200px;
        border: 15px solid #8ddfc3; 
        border-radius: 50%;
        background: url(01.png) rgb(252, 246, 246);
        background-size: cover;
        box-shadow: -2px 2px 0 #007436, inset 0 0 20px, rgba(0,0,0,0.5);
    }
    .relógio::before{
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    left: 50%;
    width: 40%;
    height: 6px;
    background: #111111;
    border-radius: 3px;
    transform-origin: left;
    animation: relógio 15s linear infinite;
    }
    .relógio::after{
        content: "";
        position: absolute;
        top: calc(50% - 3px);
        left: 50%;
        width: 40%;
        height: 6px;
        background: #131212;
        border-radius: 3px;
        transform-origin: left;
        animation: relógio 48s linear infinite;
        }
        span{
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 10px;
            height: 10px;
            background: #fd8484;
            border-radius: 50%;
            z-index: 1;
        }
        @keyframes relógio{
           0%{ 
        transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
        }
    *{
        padding: 0px;
        margin: 0px;
    }
    a{
        text-decoration: none;
        color: black;
    }
    body{
        font-family: arial;
    }
    input[type="checkbox"]:checked~ nav
    {
        transform: translateX(350px);
    }
    ul{
        top: 50px;
        position: absolute;
        width: 100%;

    }
    img{
        width: 30px;
    }
    input[type="checkbox"]
    {
        display: none;
    }
    nav
    {
        background-color: #81ebb2;
        width: 350px;
        height: 50%;
        left: -350px;
        position: absolute;
        transition: all .5s;
    }
    a{
        background-color: #8ddfc3;
    display: block;
    padding :20px 5px;
    color: rgb(0, 0, 0);
    }
    a:hover{
        background-color: #db7676;
        color:black;
    }
    label{
        padding: 15px;
        position: absolute;
    z-index: 1;
    }
    #box-1{
        position: absolute;
        top: 60%;
        left: 2%;
        height: 10px;
        width: 200px;
    }
    #box-2{
        position: absolute;
        top: 112%;
        left: 2%;
        height: 10px;
        width: 200px;

    }
    #box-3{
        position: absolute;
        top: 70%;
        left: 30%;
        height: 10px;
        width: 200px;
    }
    #box-3{
        position: absolute;
        top: 60%;
        left: 40%;
        height: 10px;
        width: 200px;

    }
    #box-4{
        position: absolute;
        top: 112%;
        left: 40%;
        height: 10px;
        width: 200px;


    }
    #box-5{
        position: absolute;
        top: 60%;
        left: 77%;
        height: 10px;
        width: 200px;
    }
    #box-6{
        position: absolute;
        top: 112%;
        left: 77%;
        height: 10px;
        width: 200px;
    }
    #img-1{
    position: absolute;
        top: 120%;
        left: 40%;
        width: 210px;
        height: 200px;
    }
#img-2{
    position: absolute;
        top: 120%;
        left: 2%;
        width: 210px;
        height: 200px;
}
#img-3{
    position: absolute;
        top: 68%;
        left: 2%;
        width: 210px;
        height: 200px;
}
#img-4{
    position: absolute;
    top: 68%;
    left: 40%;
    width: 210px;
    height: 200px;
} 